{%extends "base.html"%}
{%load static %}

    <title>About us</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">

    {% block myblock %}
    <style>
        
.bradcam_area {
    background-size: cover;
    /* background-position: center center; */
    padding: 110px 0 120px 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.bradcam_bg_1 {
    background-image: url('{% static "images/aboutus1.jpg"%}');
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.about_thumb img {
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-left: 50px;
    /* padding-left: 50px; */
}
.banner-w3ltext.about-w3bnr h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 3.5em;
}
.text-white {
    color: #fff !important;
}
.text-center {
    text-align: center !important;
}
.banner-w3ltext.about-w3bnr h1 a {
    color: brown;
}
img {
    vertical-align: middle;
    border-style: none;
}
.about_mission .about_thumb {
    margin-bottom: 20px;
}
.about_mission .about_text {
    margin-bottom: 20px;
    padding-left: 30px;
}
.about_mission .about_text {
    margin-bottom: 20px;
    padding-left: 30px; 
}
.about_mission .about_text h4 {
    font-size: 42px;
    font-weight: 500;
    color: #001D38;
}
.about_mission .about_text p {
    font-size: 15px;
    font-weight: 500;
    color: #727272;
    line-height: 28px;
}
.feature-section {
        background:#F2F4F5;
        padding-bottom: 70px;
        /* padding-top: 95px; */
    }
    .pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}
.text-center {
    text-align: center !important;
}
@media (min-width: 992px){
.mb-lg-5, .my-lg-5 {
    margin-bottom: 3rem !important;
}}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
ul, ol {
    margin: 0;
    padding: 0;
}
.list-inline>li {
    margin: 1.2em 0;
    display: block;
    padding: 0;
}
.list-inline>li a {
    display: block;
}

.list-inline>li a img {
    width: 37%;
}
.team-left img {
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.team-w3text {
    float: right;
    width: 55%;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.team-w3text h4 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #555656;
    font-family: 'Roboto', sans-serif;
}
.desoSlide-wrapper {
    position: relative;
    overflow: hidden;
}
.fadeInLeft {
    animation-name: fadeInLeft;
}

.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
}
img {
    vertical-align: middle;
    border-style: none;
}
   



    </style>
</head>
<body class="body">
<section>
    <div class="container-fluid px-0" style="margin-top:-33px">
        <div class="row my-5">
            <div class="col-md-12">
                <div class="bradcam_area bradcam_bg_1 "> 
                    <div class="banner-w3ltext about-w3bnr">
                        <div class="container">
                            <h1 class="text-white text-center">
                                <a href="index.html">Home</a> / About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
<!------------------Who we are--------------------->  
<section>
    <div class="about_mission" style="padding-top: 120px;">
        <div class="container">
            
            <div class="row align-items-center"style="margin-top:-63px" >
                
                <div class="col-md-6">
                    <div class="about_thumb">
                        <img src="{%static 'images/houseabout.jpg'%}" style="height:350px; width: 450px;border-radius: 20px;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_text">
                        <h4>Who We Are</h4>
                        <p>Evernest is an online rental house website.We provide<br> you with the most genuine and latest properties with all <br>the verified and genuine documents. You can trust evernest<br> with no second thoughts for most <br> genuine properties.</p>
                        <ul style="color: #727272;" class="ml-2">
                            <li><p>We are trying to find our dream house.</p></li>
                            <li><p>Our goal is to perfect match for your dream house</p></li>
                            <li><p>Evernest provides you with best and genuine proprties</p></li>
                            <li><p>We will provide you properties at genuine rates.</p> </li>
                            <li><p>We will provide you with all the documents and genuine properties.</p></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!----------------End-------------------------------> 
<!--------------About US Mission----------------------->  
<section>
    <div class="about_mission" style="padding-top: 120px;">
        <div class="container">
            <div class="row align-items-center" >
                
                <div class="col-md-6">
                    <div class="about_text">
                        <h4>Our Mission</h4>
                        <p>Evernest aims at providing you with best properties which are genuine and are available to you at easy installments. Evernest provides you rental houses or apartments according your requirements. We aim at providing housing at your ease and availablity with least installments. You can find latest and newest properties iat evernest at most genuine prices with all verified documents.</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_thumb">
                        <img src="{%static 'images/houseabout.jpg'%}" style="height:350px; width: 450px;border-radius: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------Ending of coding--------------->  
<!---------------What we want------------------>
<section class="feature-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="{%static 'images/hand.webp'%}" alt="" style="height: 60px; width: 60px;" class="mt-5 ml-5">
                <h3 style="color: black;" class="ml-5">PROPERTY BOOKING</h3>
                <p style="color: black; margin-top:-52px" class="ml-5">We assure you genuine properties with all the property pages signed by the notary.<br>
                We will provide you with the most genuine properties.</p>
               
            </div>
            <div class="col-md-4">
                <img src="{%static 'images/i2.jpg'%}" alt="" style="height: 60px; width: 60px;" class="mt-5 ml-5">
                <h3 style="color: black;" class="ml-5">PAYMENT GARAUNTEE</h3>
                <p style="color: black; margin-top:-52px" class="ml-5">We assure you genuine property at genuine rates. We provide you different payment modes of payment along with all the property and registry documents.<br>
                </p>
                
            </div>
            <div class="col-md-4">
                <img src="{%static 'images/i3.jpg'%}" alt="" style="height: 60px; width: 60px;" class="mt-5 ml-5">
                <h3 style="color: black;" class="ml-5">HOME MANAGEMENT</h3>
                <p style="color: black; margin-top:-52px" class="ml-5">We assure you genuine property at genuine rates. We provide you different payment modes of payment along with all the property and registry documents.<br>
                </p>
                
            </div>
        </div>
    </div>
</section>   
<!----------------End of coding---------------->    
<!-----------------Section Agents--------------> 
<!-- team -->
<div class="team py-5" id="agents">
    <div class="container py-xl-5 py-lg-3">
        <div class="text-center mb-lg-5 mb-4">
            <h3 class="tittle mb-2">Our Agents</h3>
            <p>Some words about our Agents</p>
        </div>
        <div class="row new-agileinfo">
            <div class="col-lg-4 team-left">
                <ul id="demo1_thumbs" class="list-inline">
                    <li>
                        <a href="{% static 'images/agent1.jpg'%}">
                            <img src="{% static 'images/agent1.jpg'%}" alt="" data-desoslide-caption="<h3>Carolyn Kylie</h3>  Eligendi optio nam libero tempore cum soluta nobis est cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
                            <div class="team-w3text mt-3">
                                <h4 class="mb-2">Carolyn Kylie</h4>
                                <p>Fugiat nulltur</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="images/t2.jpg">
                            <img src="{% static 'images/agent2.jpg'%}" alt="" data-desoslide-caption="<h3>Brian Una</h3>  Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
                            <div class="team-w3text mt-3">
                                <h4 class="mb-2">Brian Una</h4>
                                <p>Omnis voluptnda</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="images/t3.jpg">
                            <img src="{% static 'images/agent3.jpg'%}" alt="" data-desoslide-caption="<h3>David Joe</h3>  Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
                            <div class="team-w3text mt-3">
                                <h4 class="mb-2">David Joe</h4>
                                <p>Iste natus error</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="images/t4.jpg">
                            <img src="{% static 'images/agent2.jpg'%}" alt="" data-desoslide-caption="<h3>Piers Sam</h3>  Eligendi optio nam libero tempore cum soluta nobis est cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
                            <div class="team-w3text mt-3">
                                <h4 class="mb-2">Piers Sam</h4>
                                <p>Excepteur singt</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="demo1_main_image" class="col-lg-8 team-right" style="text-align: left;">
                <div class="desoSlide-wrapper">
                    <img class="img-responsive animated fadeInLeft" src="{% static 'images/agent1.jpg'%}" alt="" data-desoslide-caption="<h3>Carolyn Kylie</h3>  Eligendi optio nam libero tempore cum soluta nobis est cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus" style="opacity: 0;">

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->
<!------------------End of section------------->   
    
    
    
        
            <!-- <div class="col-md-6">
                <h1 style="color: yellowgreen;" class="ml-5">OUR MISSION</h1>
                <p style="color: black;" class="ml-5">Evernest aims at providing you with best properties which are genuine and are available to you at easy installments. Evernest provides you rental houses or apartments according your requirements. We aim at providing housing at your ease and availablity with least installments. You can find latest and newest properties iat evernest at most genuine prices with all verified documents.</p>
                <div>
                    <img src="{%static 'images/i4.png'%}" alt="" style="height: 60px; width: 60px;" class="ml-5">
                    <h5 style="color: yellowgreen; display: inline-block;" class="ml-3" >Find Proper Area For Housing</h5>
                </div>
                <div>
                    <img src="{%static 'images/i5.png'%}" alt="" style="height: 60px; width: 60px;" class="ml-5 mt-2">
                    <h5 style="color: yellowgreen; display: inline-block;" class="ml-3" >Easy installment value paid facility</h5>
                </div>
                <div>
                    <img src="{%static 'images/i6.png'%}" alt="" style="height: 60px; width: 60px;" class="ml-5 mt-2">
                    <h5 style="color: yellowgreen; display: inline-block;" class="ml-3" >Money Back Garauntee</h5>
                </div>
            </div> 
        </div>
    </div> -->
   
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="color: black;" class="mt-5 ml-5">OUR AGENTS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'images/agent1.jpg'%}" alt="" style="height:200px;width: 200px;" class="mt-5">
                <h6 style="color: black; text-align: center;">Martin Luthra</h6>
            </div>
            <div class="col-md-3">
                <img src="{% static 'images/agent2.jpg'%}" alt="" style="height:200px;width: 200px;" class="mt-5">
                <h6 style="color: black; text-align: center;">Jay Samuel</h6>
            </div>
            <div class="col-md-3">
                <img src="{% static 'images/agent3.jpg'%}" alt="" style="height:200px;width: 200px;" class="mt-5">
                <h6 style="color: black; text-align: center;">Christine </h6>
            </div>
            <div class="col-md-3">
                <img src="{% static 'images/agent4.jpeg'%}" alt="" style="height:200px;width: 200px;" class="mt-5">
                <h6 style="color: black; text-align: center;">Mary James</h6>
            </div>
        </div>
    </div>
    <div class="h1"></div>
    <div style="background: yellowgreen;" class="mt-5">
        <h3 style="color: black;" class="ml-5">ARE YOU LOOKING FOR A HOUSE OR CUSTOMER FOR YOUR PROPERTY SALE?</h3>
        <h6 style="color: black;" class="ml-5">Please click the button to register, we will become your best agent and help you for both. <button style="background:white; color: black; float:right;" class="mr-5 mb-5"  >REGISTER NOW</button></h6>
     </div>
    <div class="h1"></div> -->
    <!-- team desoslide-JavaScript -->
	<script src="{% static 'js/jquery.desoslide.js'%}"></script>
	<script>
		$('#demo1_thumbs').desoSlide({
			main: {
				container: '#demo1_main_image',
				cssClass: 'img-responsive'
			},
			effect: 'sideFade',
			caption: true
		});
	</script>
	<!-- //team desoslide-JavaScript -->

    {% endblock %}
</body>
</html>