{% extends "base.html" %}
{% block myblock %}
<div class="container">
     <div class="row">
             <div class="col-md-6 mx-auto mt-5" style="box-shadow:0px 0px 5px grey">
                <h2 class="text-center mt-3">CHECKOUT</h2>
                <table class="table" id="t2">
                    <tr>
                        <td>ITEM TOTAL</td>
                        <td id="item_total"></td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td id="quantity"></td>
                    </tr>
                    <tr>
                        <td>YOU SAVED</td>
                        <td id="offer"></td>
                    </tr>
                    <tr style="border-top:2px solid dotted">
                        <td>TOTAL AMOUNT</td>
                        <td id="grand_total"></td>
                    </tr>
                </table>
                <div class="mt-4 ">
                    
                </div>
            </div>
             </div>
    </div>
</div>
{% endblock %}