{% extends "base.html" %}
{%load static %}
<title>Homepage</title>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}"> -->
{% block head %}
<style>
    
    .fa {
        display: inline;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .btn {
        display: inline-block;
        font-size: 14px;
        line-height: 9px;
        padding: 11px 19px;
        color: #333;
        background-color: white;
        border: solid 2px;
        border-color: brown;
        font-weight: 400;
    }

    .btn:hover {
        background-color: brown;

    }

    .room-features li p {
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 0px;
        margin-top: 5px;
        /* display: inline; */
    }

    .room-features li {
        text-align: center;
        list-style: none;
        display: inline-block;
        margin-right: 65px;
    }

    .hero-text {
        background: rgba(28, 28, 28, 0.6);
        padding: 48px 0 44px;
        text-align: center;
        margin: auto;
        height: 328px;
        width: 722px;
        position: absolute;
        margin-top: -444px;
    }

    .hero-text .room-location {
        font-size: 15px;
        color: #aaaab3;
    }

    .carousel-indicators {
        visibility: hidden;
    }

    .feature-section {
        background: #aaaab3;
        padding-bottom: 70px;
        padding-top: 95px;
    }

    .spad {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .feature-section .section-title {
        margin-bottom: 30px;
        text-align: center;
        /* margin-bottom: 65px; */
    }

    .section-title span {
        font-size: 14px;
        color: #aaaab3;
        text-transform: uppercase;
        letter-spacing: 4px;

    }

    .section-title h2 {
        font-size: 44px;
        color: #19191a;
        font-weight: 600;
        position: relative;
        margin-top: 15px;
        padding-bottom: 34px;
    }

    .section-title h2:after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 5px;
        width: 80px;
        background: brown;
        content: "";
        margin: 0 auto;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    .room-items .room-img {
        height: 290px;
        position: relative;
        width: 100%;
        border-radius: 4px 4px 0px 0px;
        background-repeat: no-repeat;
    }

    .set-bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .room-items .room-img .room-content {
        display: inline-block;
        position: absolute;
        top: 8px;
        right: 15px;
    }

    a {
        color: rgb(0, 123, 255);
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: rgb(0, 86, 179);
        text-decoration: underline;
    }

    .room-items .room-img .room-content i {
        color: rgb(255, 255, 255);
        display: inline-block;
    }

    .room-items .room-text {
        padding: 15px;
        border-radius: 0px 0px 4px 4px;
    }

    .room-items .room-text .room-details {
        padding-bottom: 8px;
        margin-bottom: 9px;
        margin-left: -15px;
        margin-right: -15px;
        overflow: hidden;
        border-bottom: 1px solid rgb(243, 243, 243);
    }

    .room-items .room-text .room-details .room-title {
        padding: 0px 15px;
    }

    .room-items .room-text .room-details .room-title h5 {
        color: rgb(48, 48, 78);
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    .room-items .room-text .room-details .room-title a {
        display: inline-block;
        position: relative;
        float: left;
        margin-right: 10px;
    }

    .room-items .room-text .room-details .room-title a i {
        display: inline-block;
        color: rgb(0, 0, 0);
        /* position: absolute; */
        top: -1px;
    }

    .room-items .room-text .room-details .room-title a span {
        display: inline-block;
        color: rgb(143, 143, 168);
        font-size: 12px;
        font-weight: 500;

    }

    .room-items .room-text .room-features {
        padding-bottom: 15px;
        margin-bottom: 12px;
        margin-left: -30px;
        margin-right: -20px;
        overflow: hidden;
        border-bottom: 1px solid rgb(243, 243, 243);
    }

    .room-items .room-text .room-features .room-info {
        padding-left: 30px;
        padding-right: 20px;
    }

    .room-items .room-text .room-features .room-info .size {
        display: inline-block;
        margin-right: 28px;
        float: left;
    }

    .room-items .room-text .room-features .room-info .size p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    p {
        font-size: 14px;
        color: rgb(143, 143, 168);
        font-weight: 400;
        line-height: 1.6;
        margin: 0px 0px 15px;
    }

    img {
        max-width: 100%;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    .room-items .room-text .room-features .room-info .size span {
        color: rgb(48, 48, 78);
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
    }

    .room-items .room-text .room-features .room-info .beds {
        display: inline-block;
        margin-right: 28px;
        float: left;
    }

    .room-items .room-text .room-features .room-info .beds p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .room-items .room-text .room-features .room-info .beds span {
        color: rgb(48, 48, 78);
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
    }

    .room-items .room-text .room-features .room-info .baths {
        display: inline-block;
        margin-right: 28px;
        float: left;
    }

    .room-items .room-text .room-features .room-info .baths p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .room-items .room-text .room-features .room-info .baths span {
        color: rgb(48, 48, 78);
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
    }

    .room-items .room-text .room-features .room-info .garage {
        display: inline-block;
        float: left;
    }

    .room-items .room-text .room-features .room-info .garage p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .room-items .room-text .room-features .room-info .garage span {
        color: rgb(48, 48, 78);
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
    }

    .room-items .room-text .room-price {
        display: inline-block;
    }

    .room-items .room-text .room-price p {
        color: rgb(143, 143, 168);
        font-size: 16px;
        margin-bottom: -7px;
    }

    .room-items .room-text .room-price span {
        color: rgb(48, 48, 78);
        font-size: 24px;
        font-weight: 500;
    }

    .room-items .room-text .site-btn.btn-line {
        float: right;
        margin-top: 2px;
        margin-bottom: 10px;
        transition: all 0.3s ease 0s;
    }

    .site-btn.btn-line {
        float: right;
        margin-top: 6px;
        transition: all 0.3s ease 0s;
    }

    .site-btn {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: rgb(143, 143, 168);
        line-height: normal;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(143, 143, 168);
        border-image: initial;
        padding: 15px 25px;
        border-radius: 4px;
    }

    .p-in {
        padding: 195px 0px 150px;
    }

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a grey background color */
    .prev:hover,
    .next:hover {
        background-color: #f1f1f1;
        color: black;
    }

    .popular-items {
        background: rgb(255, 255, 255);
        border-radius: 4px;
        padding: 30px 20px 30px 30px;
    }

    .popular-items .popular-room-details {
        margin-bottom: 13px;
        padding-bottom: 19px;
        margin-left: -30px;
        margin-right: -20px;
        overflow: hidden;
        border-bottom: 1px solid rgb(243, 243, 243);
    }

    .popular-items .popular-room-details .popular-room-title {
        padding-left: 30px;
        padding-right: 20px;
    }

    .popular-items .popular-room-details .popular-room-title h5 {
        color: rgb(48, 48, 78);
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .popular-items .popular-room-details .popular-room-title a {
        display: inline-block;
        position: relative;
        float: left;
        margin-right: 10px;
    }

    .popular-items .popular-room-details .popular-room-title a i {
        display: inline-block;
        color: rgb(0, 0, 0);

        top: -1px;
    }

    .popular-items .popular-room-details .popular-room-title a span {
        display: inline-block;
        color: rgb(143, 143, 168);
        font-size: 12px;
        font-weight: 500;
        /* margin-left:px; */
    }

    .popular-items .popular-room-description {
        margin-bottom: 12px;
        padding-bottom: 17px;
        margin-left: -30px;
        margin-right: -20px;
        border-bottom: 1px solid rgb(243, 243, 243);
    }

    .popular-items .popular-room-description .popular-room-desc {
        padding-left: 30px;
        padding-right: 20px;
    }

    .popular-items .popular-room-description .popular-room-desc p {
        color: rgb(111, 111, 137);
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 0px;
    }

    .popular-items .popular-room-features {
        margin-bottom: 14px;
        padding-bottom: 15px;
        margin-left: -30px;
        margin-right: -20px;
        overflow: hidden;
        border-bottom: 1px solid rgb(243, 243, 243);
    }

    .popular-items .popular-room-features .popular-room-info {
        padding-left: 30px;
        padding-right: 20px;
    }

    .popular-items .popular-room-features .popular-room-info .size {
        display: inline-block;
        margin-right: 28px;
        float: left;
    }

    .popular-items .popular-room-features .popular-room-info .size p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .popular-items .popular-room-features .popular-room-info .size span {
        color: rgb(48, 48, 78);
        font-size: 14px;
        font-weight: 400;
        margin-left: 5px;
    }

    .popular-items .popular-room-features .popular-room-info .beds {
        display: inline-block;
        margin-right: 28px;
        float: left;
    }

    .popular-items .popular-room-features .popular-room-info .beds p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .popular-items .popular-room-features .popular-room-info .beds span {
        color: rgb(48, 48, 78);
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
    }

    .popular-items .popular-room-features .popular-room-info .baths {
        display: inline-block;
        margin-right: 28px;
        float: left;
    }

    .popular-items .popular-room-features .popular-room-info .baths p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .popular-items .popular-room-features .popular-room-info .baths span {
        color: rgb(48, 48, 78);
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
    }

    .popular-items .popular-room-features .popular-room-info .garage {
        display: inline-block;
        float: left;
    }

    .popular-items .popular-room-features .popular-room-info .garage p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .popular-items .popular-room-features .popular-room-info .garage span {
        color: rgb(48, 48, 78);
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
    }

    .popular-items .popular-room-price p {
        color: rgb(143, 143, 168);
        font-size: 16px;
        margin-bottom: -7px;
    }

    .popular-items .popular-room-price span {
        color: rgb(48, 48, 78);
        font-size: 24px;
        font-weight: 500;
    }

    .popular-items .popular-room-price .deal {
        color: rgb(255, 255, 255);
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 11px;
        background: rgb(227, 7, 7);
        padding: 1px 9px;
        border-radius: 50px;
    }

    .howit-works {
        padding-top: 95px;
        padding-bottom: 62px;
    }

    .section-title {
        text-align: center;
        margin-bottom: 65px;
    }

    .section-title span {
        font-size: 14px;
        color: #aaaab3;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .section-title h2 {
        font-size: 44px;
        color: #19191a;
        font-weight: 600;
        position: relative;
        margin-top: 15px;
        padding-bottom: 34px;
    }

    .single-howit-works {
        text-align: center;
        margin-bottom: 20px;
    }

    .single-howit-works h4 {
        font-size: 22px;
        color: #19191a;
        font-weight: 600;
        margin-bottom: 16px;
        margin-top: 32px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: #707079;
        font-weight: 400;
        line-height: 26px;
        margin: 0 0 15px 0;
    }

    .property-type-info {
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        background-color: rgba(0, 0, 0, .9);
        padding: 8px 20px 23px;
        z-index: 2;
    }

    .property-title {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: -8px;
    }

    .property-type-info .property-count {
        font-weight: 400;
        color: #bababa;
    }

    .agent-section {
        background: #F2F4F5;
        padding-bottom: 55px;
        overflow: hidden;
    }

    .agent-section .single-agent {
        text-align: center;
        background: #ffffff;
        -webkit-box-shadow: 0 8px 15px 5px rgba(12, 35, 34, 0.05);
        box-shadow: 0 8px 15px 5px rgba(12, 35, 34, 0.05);
        padding: 40px 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .single-agent .sa-pic {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .single-agent .sa-pic img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    .single-agent .sa-pic .hover-social {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .single-agent .sa-pic .hover-social a.twitter {
        background: #29BFE8;
        position: absolute;
        right: -40px;
        bottom: 100px;
        -webkit-transition: all 0.2s ease 0.2s;
        -o-transition: all 0.2s ease 0.2s;
        transition: all 0.2s ease 0.2s;
        opacity: 0;


    }

    .single-agent .sa-pic .hover-social a {
        display: inline-block;
        color: #ffffff;
        font-size: 18px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        background: #222222;
        border-radius: 50%;
    }

    .single-agent .sa-pic .hover-social a.instagram {
        background: #F74D91;
        position: absolute;
        right: -40px;
        bottom: 50px;
        -webkit-transition: all 0.4s ease 0.4s;
        -o-transition: all 0.4s ease 0.4s;
        transition: all 0.4s ease 0.4s;
        opacity: 0;

    }

    .single-agent .sa-pic .hover-social a.facebook {
        background: #3973E8;
        position: absolute;
        right: 15px;
        bottom: -4px;
        -webkit-transition: all 0.6s ease 0.6s;
        -o-transition: all 0.6s ease 0.6s;
        transition: all 0.6s ease 0.6s;
        opacity: 0;
        visibility: visible;

    }

    .sa-pic:hover {
        background: red;

    }

    .single-agent h5 {
        font-size: 20px;
        color: #19191a;
        font-weight: 600;
        margin-top: 25px;
    }

    .single-agent h5 span {
        display: block;
        font-size: 14px;
        color: #aaaab3;
        font-weight: 400;
        margin-top: 12px;
    }
    .testimonial-item .ti-text {
    background: #ffffff;
    box-shadow: 0px 3px 15px rgba(91, 91, 91, 0.15);
    padding: 30px 25px 30px 40px;
    margin-bottom: 30px;
    position: relative;
}
.testimonial-item .ti-text p {
    color: #444444;
    line-height: 25px;
    margin-bottom: 0;
    font-weight: 500;
}
.testimonial-item .ti-text:after {
    position: absolute;
    left: 84px;
    bottom: -7px;
    height: 14px;
    width: 14px;
    background: #ffffff;
    content: "";
    transform: rotate(45deg);
    box-shadow: 0px 3px 15px rgba(91, 91, 91, 0.15);
}
 .testimonial-item .ti-author {
    padding-left: 40px;
}
.testimonial-item .ti-author .ta-pic {
    float: left;
    margin-right: 20px;
}
.testimonial-item .ti-author .ta-pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.testimonial-item .ti-author .ta-text {
    padding-top: 15px;
}
.testimonial-item .ti-author .ta-text h5 {
    color: #111111;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}
.testimonial-item .ti-author .ta-text span {
    font-size: 14px;
    color: brown;
    display: block;
    margin-bottom: 5px;
}
.testimonial-item .ti-author .ta-text .ta-rating i {
    display: inline-block;
    font-size: 10px;
    
    color: #ffb129; 
    /* color: brown; */
    margin-right: -3px;
}
</style>
{% endblock %}
</head>
<body>
    {% block myblock %}
    <!-- <div class="container-fluid"> -->
    <!-- <div class="row" style="background:url('/static/images/background5.jpg'); margin-top: -2%;" > -->
    <!-- <div class="col-md-8" style="margin-left: 400px;margin-bottom: 50px;">
            <form action="{% url 'all_properties' %}">
                <div class="row p-5">
                    <div class="col-md-6">
                        <input type="text" name="qry" placeholder="Search by property name or category" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Search" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
    <!-----------------------------Carousal Coding-------------------------------->
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" data-ride="carousel" id="abc">
                    <ul class="carousel-indicators">
                        <li data-target=#abc data-slide-to="0"></li>
                        <li data-target=#abc data-slide-to="1"></li>
                        <li data-target=#abc data-slide-to="2"></li>
                        <li data-target=#abc data-slide-to="3"></li>
                        <li data-target=#abc data-slide-to="5"></li>

                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption ">
                                <div class="hero-text">
                                    <p class="room-location"><i class="fas fa-map-marker-alt"
                                            style="font-size: 14px;color: brown;"></i> 9721 Glen Creek Ave. Ballston
                                        Spa, NY</p>
                                    <h1 class="mt-4">VILLA GLEN CREEK</h1>
                                    <div style="margin-bottom:45px">
                                        <span
                                            style="font-size: 14px;color: #aaaab3;display: inline-block;margin-right: 10px">Start
                                            From:</span>
                                        <p
                                            style="color: #ffffff;font-size: 22px;margin-bottom: 0;display: inline-block;font-weight: 600;">
                                            &#8377; 30000</p>
                                    </div>
                                    <ul class="room-features" style="padding: 0;margin: 0;">
                                        <li style="font-size: 24px;color: brown;">
                                            <i class="fas fa-arrows-alt"></i>
                                            <p>5201 sqft</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color: brown;">
                                            <i class="fas fa-bed"></i>
                                            <p>8 Bed Room</p>
                                        </li>
                                        <li style="font-size: 24px;
                                 color: brown;">
                                            <i class="fas fa-bath"></i>
                                            <p>7 Baths Bed</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color:brown;">
                                            <i class="fas fa-car"></i>
                                            <p>1 Garage</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'images/crousal_img2.jpeg'%}" class="img-responsive img1">
                        </div>
                        <div class="carousel-item ">
                            <div class="carousel-caption ">
                                <div class="hero-text">
                                    <p class="room-location"><i class="fas fa-map-marker-alt"
                                            style="font-size: 14px;color: brown;"></i> 9721 Glen Creek Ave. Ballston
                                        Spa, NY</p>
                                    <h1 class="mt-4">VILLA GLEN CREEK</h1>
                                    <div style="margin-bottom:45px">
                                        <span
                                            style="font-size: 14px;color: #aaaab3;display: inline-block;margin-right: 10px">Start
                                            From:</span>
                                        <p
                                            style="color: #ffffff;font-size: 22px;margin-bottom: 0;display: inline-block;font-weight: 600;">
                                            &#8377; 30000</p>
                                    </div>
                                    <ul class="room-features" style="padding: 0;margin: 0;">
                                        <li style="font-size: 24px;color: brown;">
                                            <i class="fas fa-arrows-alt"></i>
                                            <p>5201 sqft</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color: brown;">
                                            <i class="fas fa-bed"></i>
                                            <p>8 Bed Room</p>
                                        </li>
                                        <li style="font-size: 24px;
                                 color: brown;">
                                            <i class="fas fa-bath"></i>
                                            <p>7 Baths Bed</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color: brown;">
                                            <i class="fas fa-car"></i>
                                            <p>1 Garage</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'images/crousal_img3.jpeg'%}" class="img-responsive img1">
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption ">
                                <div class="hero-text">
                                    <p class="room-location"><i class="fas fa-map-marker-alt"
                                            style="font-size: 14px;color: brown;"></i> 9721 Glen Creek Ave. Ballston
                                        Spa, NY</p>
                                    <h1 class="mt-4">VILLA GLEN CREEK</h1>
                                    <div style="margin-bottom:45px">
                                        <span
                                            style="font-size: 14px;color: #aaaab3;display: inline-block;margin-right: 10px">Start
                                            From:</span>
                                        <p
                                            style="color: #ffffff;font-size: 22px;margin-bottom: 0;display: inline-block;font-weight: 600;">
                                            &#8377; 30000</p>
                                    </div>
                                    <ul class="room-features" style="padding: 0;margin: 0;">
                                        <li style="font-size: 24px;color: brown;">
                                            <i class="fas fa-arrows-alt"></i>
                                            <p>5201 sqft</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color: brown;">
                                            <i class="fas fa-bed"></i>
                                            <p>8 Bed Room</p>
                                        </li>
                                        <li style="font-size: 24px;
                                 color:brown;">
                                            <i class="fas fa-bath"></i>
                                            <p>7 Baths Bed</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color: brown;">
                                            <i class="fas fa-car"></i>
                                            <p>1 Garage</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'images/crousal_img4.jpeg'%}" class="img-responsive img1">
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption ">
                                <div class="hero-text">
                                    <p class="room-location"><i class="fas fa-map-marker-alt"
                                            style="font-size: 14px;color:brown;"></i> 9721 Glen Creek Ave. Ballston
                                        Spa, NY</p>
                                    <h1 class="mt-4">VILLA GLEN CREEK</h1>
                                    <div style="margin-bottom:45px">
                                        <span
                                            style="font-size: 14px;color: #aaaab3;display: inline-block;margin-right: 10px">Start
                                            From:</span>
                                        <p
                                            style="color: #ffffff;font-size: 22px;margin-bottom: 0;display: inline-block;font-weight: 600;">
                                            &#8377; 30000</p>
                                    </div>
                                    <ul class="room-features" style="padding: 0;margin: 0;">
                                        <li style="font-size: 24px;color: brown;">
                                            <i class="fas fa-arrows-alt"></i>
                                            <p>5201 sqft</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color: brown;">
                                            <i class="fas fa-bed"></i>
                                            <p>8 Bed Room</p>
                                        </li>
                                        <li style="font-size: 24px;
                                 color: brown;">
                                            <i class="fas fa-bath"></i>
                                            <p>7 Baths Bed</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color: brown;">
                                            <i class="fas fa-car"></i>
                                            <p>1 Garage</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'images/crousal_img5.jpeg'%}" class="img-responsive img1">
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption ">
                                <div class="hero-text">
                                    <p class="room-location"><i class="fas fa-map-marker-alt"
                                            style="font-size: 14px;color: brown;"></i> 9721 Glen Creek Ave. Ballston
                                        Spa, NY</p>
                                    <h1 class="mt-4">VILLA GLEN CREEK</h1>
                                    <div style="margin-bottom:45px">
                                        <span
                                            style="font-size: 14px;color: #aaaab3;display: inline-block;margin-right: 10px">Start
                                            From:</span>
                                        <p
                                            style="color: #ffffff;font-size: 22px;margin-bottom: 0;display: inline-block;font-weight: 600;">
                                            &#8377; 30000</p>
                                    </div>
                                    <ul class="room-features" style="padding: 0;margin: 0;">
                                        <li style="font-size: 24px;color: brown;">
                                            <i class="fas fa-arrows-alt"></i>
                                            <p>5201 sqft</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color: brown;">
                                            <i class="fas fa-bed"></i>
                                            <p>8 Bed Room</p>
                                        </li>
                                        <li style="font-size: 24px;
                                 color: brown;">
                                            <i class="fas fa-bath"></i>
                                            <p>7 Baths Bed</p>
                                        </li>
                                        <li style="font-size: 24px;
                                color: brown;">
                                            <i class="fas fa-car"></i>
                                            <p>1 Garage</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'images/crousal_img6.jpeg'%}" class="img-responsive img1">
                        </div>
                        <a href="#abc" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a href="#abc" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------End of carousel coding--------------------------->
    <!---------------------Section 2 Search Section------------------------------->
    <div class="filter-search" style="position: relative;margin-top: -86px;">
        <div class="container ">
            <div class="row mx-auto">
                <div class="col-md-10 mx-auto text-center text-light py-3" style="height:50px;background: brown;">
                    <h2 style="line-height: 2px;">Find Your Dream Property</h2>
                    <form action="" class="filter-form">

                    </form>
                </div>
                <div class="col-md-10 mx-auto " style="height: 172px;background: rgba(0,0,0,0.5)">
                    <form action="{% url 'all_properties' %}">
                        <div class="row form-group">
                            <div class="col-md-4">
                                <input type="text" class="form-control" style="height: 44px;margin-top: -40px;"
                                    placeholder="Property Type">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" style="height: 44px;margin-top: -40px;"
                                    placeholder="Property Name">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" style="height: 44px;margin-top: -40px;"
                                    placeholder="Location">
                            </div>
                            <div class="col-md-6 mx-auto mt-4">
                                <input type="submit" value="Search" class="btn form-control">
                                <i class="fas fa-search"
                                    style="position: absolute;margin-top: 10px;margin-left: -257px;"></i>
                            </div>
                            <!-- <div class="col-md-6">
                        <input type="text" name="qry" placeholder="Search by property name or category" class="form-control">
                        </div> -->
                            <!-- <div class="col-md-6">
                        <input type="submit" value="Search" class="btn btn-success">
                        </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------End Of section 2----------------------------------------->
    <!-----------------------Section how we works------------------------------------->
    <section class="howit-works spad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <span>Find Your Dream House</span>
                        <h2>How It Work</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-md-4">
                    <div class="single-howit-works">
                        <img src="{% static 'images/howit-works-1.png'%}">
                        <h4>Search &amp; Find Apertment</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-howit-works">
                        <img src="{% static 'images/howit-works-2.png'%}">
                        <h4>Find Your Room</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-howit-works">
                        <img src="{% static 'images/howit-works-3.png'%}">
                        <h4>Talk To Agents</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.</p>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-----------------------End section how we works--------------------------------->
    <!-----------------------Section 3 Featured Section------------------------------->
    <section class="feature-search spad" style="background:#F2F4F5;">
        <div class="container">
            <div class="row" style="flex-wrap: wrap;margin-right: -15px;margin-left: -15px; margin-top: -44px;">
                <div class="col-md-12">
                    <div class="section-title text-center" style="margin-top: -9px;">
                        <span>Listing From Our Agents</span>
                        <h2>Featured Properties</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: -10px;">
                <div class="col-md-4">
                    <div class="room-items"
                        style="box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 30px;margin-bottom: 30px;border-radius: 4px;overflow: hidden;">
                        <div class="room-img set-bg" data-setbg="url('/static/images/home14.jpg')"
                            style="background-image: url('/static/images/house10.jpg');">
                            <a href="#" class="room-content">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>Country Style House with beautiful garden and terrace</h5>
                                    <a href="#" style=text-decoration:none><i class="fas fa-map-marker-alt"></i>
                                        <span>Location</span></a>
                                    <a href="#" class="large-width" style=text-decoration:none><i
                                            class="fas fa-location-arrow"></i> <span>Show on
                                            Map</span></a>
                                </div>
                            </div>

                            <div class="room-features">
                                <div class="room-info">
                                    <div class="size">
                                        <p>Lot Size</p>
                                        <img data-cfsrc="img/rooms/size.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/size.png">
                                        <i class="flaticon-bath"></i>
                                        <span>2561 sqft</span>
                                    </div>
                                    <div class="beds">
                                        <p>Beds</p>
                                        <img data-cfsrc="img/rooms/bed.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/bed.png">
                                        <span>9</span>
                                    </div>
                                    <div class="baths">
                                        <p>Baths</p>
                                        <img data-cfsrc="img/rooms/bath.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/bath.png">
                                        <span>2</span>
                                    </div>
                                    <div class="garage">
                                        <p>Garage</p>
                                        <img data-cfsrc="img/rooms/garage.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/garage.png">
                                        <span>1</span>
                                    </div>

                                </div>
                            </div>

                            <div class="room-price">
                                <p>For Sale</p>
                                <span>&#8377; 345,000</span>
                            </div>
                            <a href="#" style="text-decoration: none;" class="site-btn btn-line">View Property</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="room-items"
                        style="box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 30px;margin-bottom: 30px;border-radius: 4px;overflow: hidden;">
                        <div class="room-img set-bg" data-setbg="url('/static/images/home14.jpg')"
                            style="background-image: url('/static/images/house9.jpg');">
                            <a href="#" class="room-content">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>Country Style House with beautiful garden and terrace</h5>
                                    <a href="#" style=text-decoration:none><i class="fas fa-map-marker-alt"></i>
                                        <span>Location</span></a>
                                    <a href="#" class="large-width" style=text-decoration:none><i
                                            class="fas fa-location-arrow"></i> <span>Show on
                                            Map</span></a>
                                </div>
                            </div>

                            <div class="room-features">
                                <div class="room-info">
                                    <div class="size">
                                        <p>Lot Size</p>
                                        <img data-cfsrc="img/rooms/size.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/size.png">
                                        <i class="flaticon-bath"></i>
                                        <span>2112 sqft</span>
                                    </div>
                                    <div class="beds">
                                        <p>Beds</p>
                                        <img data-cfsrc="img/rooms/bed.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/bed.png">
                                        <span>2</span>
                                    </div>
                                    <div class="baths">
                                        <p>Baths</p>
                                        <img data-cfsrc="img/rooms/bath.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/bath.png">
                                        <span>3</span>
                                    </div>
                                    <div class="garage">
                                        <p>Garage</p>
                                        <img data-cfsrc="img/rooms/garage.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/garage.png">
                                        <span>1</span>
                                    </div>

                                </div>
                            </div>

                            <div class="room-price">
                                <p>For Sale</p>
                                <span>&#8377; 45,000</span>
                            </div>
                            <a href="{% url 'single_property' %}?pid=1"style="text-decoration: none;" class="site-btn btn-line">View Property</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="room-items"
                        style="box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 30px;margin-bottom: 30px;border-radius: 4px;overflow: hidden;">
                        <div class="room-img set-bg" data-setbg="url('/static/images/home14.jpg')"
                            style="background-image: url('/static/images/home14.jpg');">
                            <a href="#" class="room-content">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="room-text">
                            <div class="room-details">
                                <div class="room-title">
                                    <h5>Country Style House with beautiful garden and terrace</h5>
                                    <a href="#" style=text-decoration:none><i class="fas fa-map-marker-alt"></i>
                                        <span>Location</span></a>
                                    <a href="#" class="large-width" style=text-decoration:none><i
                                            class="fas fa-location-arrow"></i> <span>Show on
                                            Map</span></a>
                                </div>
                            </div>

                            <div class="room-features">
                                <div class="room-info">
                                    <div class="size">
                                        <p>Lot Size</p>
                                        <img data-cfsrc="img/rooms/size.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/size.png">
                                        <i class="flaticon-bath"></i>
                                        <span>2561 sqft</span>
                                    </div>
                                    <div class="beds">
                                        <p>Beds</p>
                                        <img data-cfsrc="img/rooms/bed.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/bed.png">
                                        <span>9</span>
                                    </div>
                                    <div class="baths">
                                        <p>Baths</p>
                                        <img data-cfsrc="img/rooms/bath.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/bath.png">
                                        <span>2</span>
                                    </div>
                                    <div class="garage">
                                        <p>Garage</p>
                                        <img data-cfsrc="img/rooms/garage.png" alt=""
                                            src="https://colorlib.com/preview/theme/homes/img/rooms/garage.png">
                                        <span>1</span>
                                    </div>

                                </div>
                            </div>

                            <div class="room-price">
                                <p>For Sale</p>
                                <span>&#8377; 34,000</span>
                            </div>
                            <a href="{% url 'single_property' %}?pid=4" style="text-decoration: none;" class="site-btn btn-line">View Property</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-----------------------End of Section 3------------------------------------------>
    <!-----------------------Image sider with text------------------------------------->
    <section class="popular-rooms set-bg p-in " data-setbg="url('/static/images/crousal_img4.jpeg')"style="background-image:url('/static/images/crousal_img4.jpeg')">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 mx-auto" style="padding-right:15px;padding-left: 15px ;">
                    <div class="slideshow-container">
                        <div class="mySlides1 ">
                            <div class="popular-items">
                                <div class="popular-room-text">
                                    <div class="popular-room-details">
                                        <div class="popular-room-title">
                                            <h5>Spacious Modern Smart House</h5>
                                            <a href="#"><i class="fas fa-map-marker-alt"></i> <span>Location</span></a>
                                            <a href="#"><i class="fas fa-location-arrow"></i> <span>Show on
                                                    Map</span></a>
                                        </div>
                                    </div>
                                    <div class="popular-room-description">
                                        <div class="popular-room-desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales
                                                commodo ex sed pellentesque. Aliquam vitae purus sed dolor hendrerit
                                                vehicula imperdiet sed justo. magna.</p>
                                        </div>
                                    </div>
                                    <div class="popular-room-features">
                                        <div class="popular-room-info">
                                            <div class="size">
                                                <p>Lot Size</p>
                                                <img data-cfsrc="img/rooms/size.png"
                                                    style="display: inline-block;width: auto;" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/size.png">
                                                <span>2561 sqft</span>
                                            </div>
                                            <div class="beds">
                                                <p>Beds</p>
                                                <img data-cfsrc="img/rooms/bed.png"
                                                    style="display: inline-block;width: auto;" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/bed.png">
                                                <span>3</span>
                                            </div>
                                            <div class="baths">
                                                <p>Baths</p>
                                                <img data-cfsrc="img/rooms/bath.png" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/bath.png">
                                                <span>3</span>
                                            </div>
                                            <div class="garage">
                                                <p>Garage</p>
                                                <img data-cfsrc="img/rooms/garage.png" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/garage.png">
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="popular-room-price" style="display:inline-block">
                                    <p>For Sale</p>
                                    <span>&#8377;34,000</span>
                                    
                                    <span class="deal">Best Deal</span>
                                </div>
                                <a href="#" style="text-decoration: none;" class="site-btn btn-line">View Property</a>
                            </div>
                        </div>
                        <div class="mySlides1">
                            <div class="popular-items">
                                <div class="popular-room-text">
                                    <div class="popular-room-details">
                                        <div class="popular-room-title">
                                            <h5>Country Style House with beautiful garden and terrace</h5>
                                            <a href="#"><i class="fas fa-map-marker-alt"></i> <span>Location</span></a>
                                            <a href="#"><i class="fas fa-location-arrow"></i> <span>Show on 
                                                Map</span></a>
                                        </div>
                                    </div>
                                    <div class="popular-room-description">
                                        <div class="popular-room-desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales
                                                commodo ex sed pellentesque. Aliquam vitae purus sed dolor hendrerit
                                                vehicula imperdiet sed justo. magna.</p>
                                        </div>
                                    </div>
                                    <div class="popular-room-features">
                                        <div class="popular-room-info">
                                            <div class="size">
                                                <p>Lot Size</p>
                                                <img data-cfsrc="img/rooms/size.png"
                                                    style="display: inline-block;width: auto;" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/size.png">
                                                <span>2561 sqft</span>
                                            </div>
                                            <div class="beds">
                                                <p>Beds</p>
                                                <img data-cfsrc="img/rooms/bed.png"
                                                    style="display: inline-block;width: auto;" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/bed.png">
                                                <span>9</span>
                                            </div>
                                            <div class="baths">
                                                <p>Baths</p>
                                                <img data-cfsrc="img/rooms/bath.png" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/bath.png">
                                                <span>2</span>
                                            </div>
                                            <div class="garage">
                                                <p>Garage</p>
                                                <img data-cfsrc="img/rooms/garage.png" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/garage.png">
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="popular-room-price" style="display:inline-block">
                                    <p>For Sale</p>
                                    <span>$345,000</span>
                                    <span class="deal">Best Deal</span>
                                </div>
                                <a href="#" style="text-decoration: none;" class="site-btn btn-line">View Property</a>
                            </div>

                        </div>
                        <div class="mySlides1">
                            <div class="popular-items">
                                <div class="popular-room-text">
                                    <div class="popular-room-details">
                                        <div class="popular-room-title">
                                            <h5>Apartment Morden Santa </h5>
                                            <a href="#"><i class="fas fa-map-marker-alt"></i> <span>Location</span></a>
                                            <a href="#"><i class="fas fa-location-arrow"></i> <span>Show on
                                                    Map</span></a>
                                        </div>
                                    </div>
                                    <div class="popular-room-description">
                                        <div class="popular-room-desc">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales
                                                commodo ex sed pellentesque. Aliquam vitae purus sed dolor hendrerit
                                                vehicula imperdiet sed justo. magna.</p>
                                        </div>
                                    </div>
                                    <div class="popular-room-features">
                                        <div class="popular-room-info">
                                            <div class="size">
                                                <p>Lot Size</p>
                                                <img data-cfsrc="img/rooms/size.png"
                                                    style="display: inline-block;width: auto;" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/size.png">
                                                <span>2561 sqft</span>
                                            </div>
                                            <div class="beds">
                                                <p>Beds</p>
                                                <img data-cfsrc="img/rooms/bed.png"
                                                    style="display: inline-block;width: auto;" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/bed.png">
                                                <span>9</span>
                                            </div>
                                            <div class="baths">
                                                <p>Baths</p>
                                                <img data-cfsrc="img/rooms/bath.png" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/bath.png">
                                                <span>2</span>
                                            </div>
                                            <div class="garage">
                                                <p>Garage</p>
                                                <img data-cfsrc="img/rooms/garage.png" alt=""
                                                    src="https://colorlib.com/preview/theme/homes/img/rooms/garage.png">
                                                <span>1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="popular-room-price" style="display:inline-block">
                                    <p>For Sale</p>
                                    <span>$345,000 </span>
                                    <span class="deal">Best Deal</span>
                                </div>
                                <a href="{% url 'single_property' %}?pid=4" style="text-decoration: none;" class="site-btn btn-line">View Property</a>
                            </div>

                        </div>

                        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-----------------------End of Image slider with text------------------------------>
    <!-----------------------Explore Property------------------------------------------->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <span>Find Property In Your City</span>
                        <h2>EXPLORE PROPERTY</h2>
                    </div>
                </div>
            </div>
            
            <div class="row mb-4">

                <div class="col-md-6 text-light">
                    <img src="{% static 'images/explorecity6.jpeg'%}"
                        style="min-height: 200px;position: relative;overflow: hidden;cursor: pointer;">
                    <div class="property-type-info">
                        <div class="property-title">
                            <a href="{% url 'all_properties' %}?cat=5" title="Villa"> Villa </a>
                        </div>
                        <div class="property-count"><span>2</span> Properties</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row " style="margin-top: 2px;">
                        <div class="col-md-12">
                            <a href="{% url 'apartment' %}?cat={{c.id}}" title="Apartment"> 
                                <img width="570" height="270"src="http://themes.g5plus.net/beyot/wp-content/uploads/2017/01/property-02-570x270.jpg" alt="Apartment" title="Apartment"> </a>
                            <div class="property-type-info">
                                <div class="property-title">
                                    <div class="property-title">
                                        <a href="{% url 'all_properties' %}?cat=6"title="Apartment"> Apartment </a>
                                        <!------- ADD APARTMENT PAGE------->
                                     </div>
                                    <div class="property-count"><span>3</span> Properties</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 23px;">
                        <div class="col-md-6">
                            <img src="{% static 'images/explorecity5.jpeg'%}"
                                style="min-height: 200px;position: relative;overflow: hidden;cursor: pointer;">
                            <div class="property-type-info">
                                <div class="property-title">
                                    <a href="{% url 'all_properties' %}?cat=1" title="House"> House
                                    </a></div>
                                <div class="property-count"><span>2</span> Properties</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'images/explorecity4.jpeg'%}"
                                style="min-height: 200px;position: relative;overflow: hidden;cursor: pointer;">
                            <div class="property-type-info">
                                <div class="property-title"> 
                                    <a href="{% url 'all_properties' %}?cat=4" title="Farm"> Farm
                                    </a></div>
                                <div class="property-count"><span>1</span> Property</div>
                            </div>
                        </div>

                    </div>
                  
                </div> 
            </div>
            
        </div>
    </section>
    <!-----------------------End of Explore Property------------------------------------>
    <!-----------------------Section Agents--------------------------------------------->
    <!-- <section class="agent-section spad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <span>We Are To Help You</span>
                        <h2>Our Agents</h2>
                    </div>
                </div>
            </div>
            <div class="row">
           
                <div class="col-md-3">
                    

                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="{% static 'images/agent-2.jpg'%}">
                            <div class="hover-social ">
                                <a href="#" class="twitter"><i class="fas fa-twitter"></i></a>
                                <a href="#" class="instagram"><i class="fas fa-instagram"></i></a>
                                <a href="#" class="facebook"><i class="fas fa-facebook"></i></a>
                            </div>
                        </div>
                        <h5>Clifford Colon <span>Saler Manager</span></h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="{% static 'images/agent-2.jpg'%}">
                            <div class="hover-social ">
                                <a href="#" class="twitter"><i class="fas fa-twitter"></i></a>
                                <a href="#" class="instagram"><i class="fas fa-instagram"></i></a>
                                <a href="#" class="facebook"><i class="fas fa-facebook"></i></a>
                            </div>
                        </div>
                        <h5>Clifford Colon <span>Saler Manager</span></h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="{% static 'images/agent-2.jpg'%}">
                            <div class="hover-social ">
                                <a href="#" class="twitter"><i class="fas fa-twitter"></i></a>
                                <a href="#" class="instagram"><i class="fas fa-instagram"></i></a>
                                <a href="#" class="facebook"><i class="fas fa-facebook"></i></a>
                            </div>
                        </div>
                        <h5>Clifford Colon <span>Saler Manager</span></h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-agent">
                        <div class="sa-pic">
                            <img src="{% static 'images/agent-2.jpg'%}">
                            <div class="hover-social ">
                                <a href="#" class="twitter"><i class="fas fa-twitter"></i></a>
                                <a href="#" class="instagram"><i class="fas fa-instagram"></i></a>
                                <a href="#" class="facebook"><i class="fas fa-facebook"></i></a>
                            </div>
                        </div>
                        <h5>Clifford Colon <span>Saler Manager</span></h5>
                    </div>
                </div>


            </div>

        </div>

    </section> -->

    <!-----------------------End of Section Agents-------------------------------------->

    <!-----------------------Clients section-------------------------------------------->
<section class="agent-section spad " >
    <div class="container">
        <div class="row" style="margin-top:-3px">
            <div class="col-md-12">
                <div class="section-title">
                    <span>We Always Have Trust</span>
                    <h2>What Our Clients Say</h2>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: -8px;">
            <div class="col-md-12 mx-auto">
                <div class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active mt-5 mb-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="testimonial-item">
                                            <div class="ti-text">
                                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                                                    magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
                                                    </::after>
                                            </div>
                                            <div class="ti-author">
                                                <div class="ta-pic">
                                                    <img src="{%static 'images/agent-2.jpg' %}">
                                                </div>
                                                <div class="ta-text">
                                                    <h5>Arise Naieh</h5>
                                                    <span>Designer</span>
                                                    <div class="ta-rating">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="testimonial-item">
                                            <div class="ti-text">
                                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                                                    magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
                                                    </::after>
                                            </div>
                                            <div class="ti-author">
                                                <div class="ta-pic">
                                                    <img src="{%static 'images/agent-2.jpg' %}">
                                                </div>
                                                <div class="ta-text">
                                                    <h5>Arise Naieh</h5>
                                                    <span>Designer</span>
                                                    <div class="ta-rating">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="carousel-item mt-5 mb-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="testimonial-item">
                                            <div class="ti-text">
                                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                                                    magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
                                                    </::after>
                                            </div>
                                            <div class="ti-author">
                                                <div class="ta-pic">
                                                    <img src="{%static 'images/agent-2.jpg' %}">
                                                </div>
                                                <div class="ta-text">
                                                    <h5>Arise Naieh</h5>
                                                    <span>Designer</span>
                                                    <div class="ta-rating">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="testimonial-item">
                                            <div class="ti-text">
                                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                                                    magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
                                                    </::after>
                                            </div>
                                            <div class="ti-author">
                                                <div class="ta-pic">
                                                    <img src="{%static 'images/agent-2.jpg' %}">
                                                </div>
                                                <div class="ta-text">
                                                    <h5>Arise Naieh</h5>
                                                    <span>Designer</span>
                                                    <div class="ta-rating">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item mt-5 mb-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="testimonial-item">
                                            <div class="ti-text">
                                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                                                    magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
                                                    </::after>
                                            </div>
                                            <div class="ti-author">
                                                <div class="ta-pic">
                                                    <img src="{%static 'images/agent-2.jpg' %}">
                                                </div>
                                                <div class="ta-text">
                                                    <h5>Arise Naieh</h5>
                                                    <span>Designer</span>
                                                    <div class="ta-rating">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="testimonial-item">
                                            <div class="ti-text">
                                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, seiusmod tempor incididunt ut labore
                                                    magna aliqua. Quis ipsum suspendisse ultrices gravida accumsan lacus vel facilisis.</p>
                                                    </::after>
                                            </div>
                                            <div class="ti-author">
                                                <div class="ta-pic">
                                                    <img src="{%static 'images/agent-2.jpg' %}">
                                                </div>
                                                <div class="ta-text">
                                                    <h5>Arise Naieh</h5>
                                                    <span>Designer</span>
                                                    <div class="ta-rating">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            


                            
                           
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
{% if status %}
    <script>
        alert("{{status}}")
        window.location = "/"
    </script>
    {% endif %}
    <script>
        var slideIndex = [1, 1];
        var slideId = ["mySlides1", "mySlides2"]
        showSlides(1, 0);
        showSlides(1, 1);

        function plusSlides(n, no) {
            showSlides(slideIndex[no] += n, no);
        }

        function showSlides(n, no) {
            var i;
            var x = document.getElementsByClassName(slideId[no]);
            if (n > x.length) { slideIndex[no] = 1 }
            if (n < 1) { slideIndex[no] = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex[no] - 1].style.display = "block";
        }
    </script>

    {% endblock %}
    <!-- footer

    <footer class="footer container-fluid text-white">
        <div class="upper-footer">
            <div class="row">
                
                <div class="col-md-3 mx-auto mt-4">
                    <p class="font-weight-bold">EVRENEST</p>
                    <p><a>HOME</a></p>
                    <p><a>ABOUT US</a></p>
                    <p><a>CONTACT US</a></p>
                    <p><a>ALL PROPERTIES</a></p>
                    <p><a>PROPERTY DETAILS</a></p>
                   
                </div>
                <div class="col-md-3 mt-4">
                    <p class="font-weight-bold">CONTACT US</p>
                    <p><span class="font-weight-bold">Address :</span> Hath of it fly signs bear be one blessed after</p>
                    <p><a>Help center</a></p>
                    <p><a>Visit property</a></p>

                    <p><a><span class="font-weight-bold">Phone : </span> 8753739203</a></p>
                    <p><a><span class="font-weight-bold">Email : </span>evernest@yahoo.com </a></p>
                </div>
                <div class="col-md-3 mx-auto mt-4">
                    <p>If we wait until we are ready , we will be waiting for the rest of our lives.</p>
                    <img src="{% static 'images/house management2.jpg'%}" alt="" class="img-fluid d-block imgb mb-2 rounded-circle ml-3">

                </div>
            </div>
        </div>
        <hr>
        <div class="icons">
            <div class="row">
                <div class="col-md-6 list mx-auto">
                    <ul>
                        <li>Terms of use</li>
                        <li class="ml-5">Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
        <hr>
        <div class="lower-footer text-center">
            <img src="{%static 'images/homelogo.jpg'%}" class="imgf">
            Copyright @Evernest  All rights reserved
        </div>
    </footer>
</div>


    
     -->









</body>

</html>