{% extends "base.html"%}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
<script src="https://kit.fontawesome.com/f7a6829b89.js" crossorigin="anonymous"></script>

{% block head %}
<style>
         .maaxen-breadcromb-area {
      background-image: url('{% static "images/homeone.jpg"%}');
        background-attachment: fixed;
        width: 100%;
        height:400px;
        margin-top: -4%;
        } 
.section_70 {
    padding: 70px 0;
}
.bg{
        background-image: url('{% static "images/homeone.jpg"%}');
        
        width: 100%;
        height:250px;
        margin-top: -2%;
    }
.widget_card_page {
    background: #fff none repeat scroll 0 0;
    color: #333;
    margin-top: 30px;
    padding: 50px 20px;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
}
.profile-widget-info, .profile-widget-social {
    margin-top: 14px;
}
.profile-left-menu {
    background: #fff none repeat scroll 0 0;
    color: #333;
    margin-top: 30px;
    padding: 30px;
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
}
.profile-left-menu h3, .profile-form h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #111;
    letter-spacing: 1px;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: block;
    position: relative;
    text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.profile-left-menu h3:before, .profile-form h3:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    background: #111 none repeat scroll 0 0;
    left: 0;
    bottom: -15px;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.profile-box {
    position: relative;
    
    background: #fff none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    border-radius: 0;
    margin: 0;
}.profile-box.header_bg_green.favourite_page:after {
    height: 40%;
}
.profile-box.header_bg_green:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 52%;
    background: #111 none repeat scroll 0 0;
    z-index: -1;
}
.profile-widget-img {
    float: none;
    overflow: hidden;
    border: 1px solid #dbdfe2;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.profile-widget-img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    
    z-index: 99;
    /* border: 8px solid rgba(221, 221, 221, 0.7); */
    margin-top: auto;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    
}
.maaxen-profile-page-area {
    background: #f8f9fc none repeat scroll 0 0;
    padding-top: 40px;
}
.breadcromb-box {
    text-align: center;
    
    }
    .breadcrumbs-menu {
	text-align: center;
   position: relative;
   
}
.breadcrumbs-menu:before {
	
	font-family: 'FontAwesome';
	color: #111;
	font-size: 15px;
	display: inline-block;
   padding-right: 5px;
   
}

.breadcrumbs-menu li {
	display: inline-block;
}

.breadcrumbs-menu li:first-child {
	position: relative
}

.breadcrumbs-menu li a,
.breadcrumbs-menu li span {
	font-size: 15px;
	color: #fff;
	line-height: 1.8;
	font-weight: 500;
	text-transform: capitalize;
	position: relative;
}
.breadcrumbs-menu li:first-child:after {
	font-family: 'FontAwesome';
	display: inline-block;
	content: '\f105';
	font-size: 14px;
	letter-spacing: -.02em;
	padding: 0 10px;
	color: #c5c5c5;
}
.profile-right {
    background: #fff none repeat scroll 0 0;
    color: #333;
    margin-top: 50px;
    padding: 30px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
}
.breadcromb-box h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.profile-form input {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    color: #333;
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 5px;
}
.profile-form label {
    color: #333;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 13px;
}
.profile-form h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #111;
    letter-spacing: 1px;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: block;
    position: relative;
    text-transform: capitalize;
}
.profile-form h3:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    background: #111 none repeat scroll 0 0;
    left: 0;
    bottom: -15px;
}
.profile-form h3:after {
    position: absolute;
    content: "";
    width: 40%;
    height: 2px;
    background: #333 none repeat scroll 0 0;
    left: 0;
    bottom: -10px;
}
li {
    list-style-type: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.profile-left-menu {
    background: #fff none repeat scroll 0 0;
    color: #333;
    margin-top: 30px;
    padding: 30px;
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
}

.profile-form p>button {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #333;
    font-weight: 600;
    background: #333 none repeat scroll 0 0;
    width: auto;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    }
.profile-form p button:hover {
	background: #fff none repeat scroll 0 0;
	color: #333;
	border: 1px solid #333;
}
.profile-left-menu li a:hover, .profile-left-menu li.active a {
    text-decoration: none;
    background: black;
    color: blanchedalmond;
}
.profile-left-menu li a {
    display: block;
    color: #333;
    padding: 7px 0px;
    text-transform: capitalize;
}
a {
    /* -webkit-transition: all 0.4s ease 0s; */
    transition: all 0.4s ease 0s;
    color: #6b739c;
}
a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
    /* -webkit-text-decoration-skip: objects; */
}
.profile-form p {
	margin-top: 20px;
}
*{
   padding: 0;
            margin: 0;
        }
.profile-left-menu h3:after, .profile-form h3:after {
    position: absolute;
    content: "";
    width: 40%;
    height: 2px;
    background: black none repeat scroll 0 0;
    left: 0;
    bottom: -10px;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
        *{
            padding: 0;
            margin: 0;
        }
        body,html{
            padding: 0;
            margin: 0;
            overflow-x: hidden;
            width:100% ;
        }
        .bg{
        background-image: url('{% static "images/homeone.jpg"%}');
        background-attachment: fixed;
        width: 100%;
        height:250px;
        margin-top: -4%;
    }
      
        .col1{
            height: 300px;
        }
    .col1 a{
        color:white;
        font-size: 30px;
        font: bold;
        border: 2px solid white;
    }
    .col1 h1{
        margin-top: 8%!important;
    }
    
   /*section2*/
   .div1,.div2{
       height: 170px;
   }
   .div1 p{
       display: none;
   }
   .img{
       margin-top: -24%!important;
       border: 4px solid gray;
       height: 170px;
   }
   .button-theme {
    background: brown;
    color: #FFF !important;
    outline: none;
}
.btn-md {
    cursor: pointer;
    padding: 13px 30px 11px 30px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;}
.div2,.col2
{
    background: white;
}
.form1 h3{
    text-decoration: underline double black;
}
.form1 input{
    width: 170%!important;
    background: lightgray;
}
.group1,.group2{
    margin-top: 4%;
    display: inline-block;
}
.text_area{
    background: lightgray;
}
.group2{
    margin-left: 20%;
}
/*Section3*/
.col4{
    background: white;
    margin-top: -30%!important;
    line-height: 55px!important;
   
}
.col4 h2{
    text-decoration: underline double black ;
}
.col4 a{
color: black!important;
}

/*for responsiveness*/
@media (min-width:320px) and (max-width:1199px){
    .form1 input{
        width:140%!important;
    }
    
}
@media (min-width:320px) and (max-width:991px){
    .group2{
        margin-left: 11%;
    }
    .group1{
        margin-left: 11%;
    }
    .col4{
        margin-top: -85%!important;
    }
}
@media (min-width:320px) and (max-width:767px){
    .col2{
        margin-top: 5%!important;
    }
    .col4{
        margin-top: 5%!important;
    }
}
@media (min-width:320px) and (max-width:365px){
   .form1 input{
        width:120%!important;
    }
}
.dashboard-list {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    padding: 4px;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.dashboard-message {
    float: left;
    padding: 25px 25px;
    position: relative;
    border-bottom: 1px solid #eee;
    width: 100%;
}
.dashboard-list h3 {
    padding: 15px 25px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    margin: 0;
    width: 100%;
    font-weight: 500;
}
.heading {
    margin: 0 0 30px;
    /* font-size: 20px; */
    font-weight: 600;
}

*, ::after, ::before {
    box-sizing: border-box;
    
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px){
.col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}}
@media (min-width: 768px){
.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}}
.edit-profile-photo {
    position: relative;
    background: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .23);
    padding: 2px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.change-photo-btn {
    display: inline-block;
    position: absolute;
    font-size: 13px;
    bottom: -22px;
    left: 40%;
    width: auto;
    transition: 0.3s;
    cursor: pointer;
    line-height: 28px;
}
.photoUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
@media (min-width: 992px){

.col-lg-9 {
    -webkit-box-flex: 0;
    max-width: 75%;
    flex: 0 0 75%;
}}
@media (min-width: 768px){

.col-md-9 {
    -webkit-box-flex: 0;
    max-width: 75%;
    flex: 0 0 75%;
}}
button, input {
    overflow: visible;
}input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-align: start !important;
    padding: initial;
    border: initial;
}

.photoUpload.clip-home {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    position: relative;
}
.photoUpload {
    position: relative;
    overflow: hidden;
    padding: 6px 15.5px 10px;
    cursor: pointer;
    font-size: 14px;
    background: #e8e8e8;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
.fa-upload:before {
    content: "\f093";
}
.photoUpload span {
    color: #ff214f;
}
.photoUpload span {
    font-weight: 600;
}
span {
    color: #535353;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
div {
    display: block;
}
@media (min-width: 992px){
.col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}
@media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}
.contact-2 .form-group {
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group label, .checkbox label {
    font-weight: 500;
    font-size: 15px;
    color: #353535;
}
.form-group label, .checkbox label {
    font-weight: 400;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
label {
    cursor: default;
}
.dashboard-content {
    padding: 30px 30px 0;
    position: relative;
    
    
    width: 100%;
}
.contact-2 .form-control {
    padding: 10px 17px;
    color: #495057!important;
    width: 100%;
    min-height: 45px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
}
.form-control {
    padding-left: 15px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
form {
    display: block;
    margin-top: 0em;
}
.dashboard-header {
    margin-bottom: 20px;
}
</style>
{% endblock %}
</head>
{% block myblock %}
<section class= "maaxen-profile-page-area section_70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-12 mx-auto">
                <div class="profile-left">
                   <div class="single-profile-widget">
                      <div class="widget_card_page profile-box header_bg_green favourite_page">
                         <div class="profile-widget-img">
                            <img src="/media/{{data.profile_image}}" class="blah" alt="profile">
                         </div>
                         <div class="profile-widget-info" >
                            <h3 style="margin-bottom: 50px;padding: 30px;margin: 10px 0 0 5px;">{{user.first_name}} {{user.last_name}}</h3>
                            <a class="ere-dashboard-logout" href="{% url 'user_logout' %}" style="font-size: 20px;font-weight: bold;color:brown"><i style="padding-right: 5px;color: brown;margin-top: 2px;" class="fas fa-sign-out-alt"></i>Logout </a>
                            <!-- <p style="display:block;margin:0;margin-block-start: 1em;margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;">Agent in New York</p> -->
                         </div>
                      </div>
                   </div>
                   <div class="single-profile-widget">
                      <div class="profile-left-menu">
                         <h3>Manage account</h3>
                         <ul>
                            <li>
                               <a href="{% url 'dashboard' %}"><i class="fas fa-user"></i> My Profile</a>
                            </li>
                            {% if user.is_staff %}
                            
                            <li>
                               <a href="{% url 'addproperty' %}"><i class="fas fa-plus"></i> Submit New Property</a>
                            </li>
                            <li>
                               <a href="{% url 'myproperty' %}"><i class="fas fa-file-archive"></i> my properties</a>
                            </li>
                            {% endif %}
                            <!-- <li>
                               <a href="{% url 'editprofile' %}"><i class="fas fa-edit"></i>Edit Profile</a>
                            </li> -->
                            
                            <li class="active">
                                <a href="{% url 'mybookings' %}"><i class="fas fa-file-archive"></i>My Bookings</a>
                             </li>
                            <li>
                               <a href="{% url 'changepassword' %}"><i class="fas fa-lock"></i> Change Password</a>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
            </div>
            <div class="col-md-9">
                {% if mybookings %}
            <div class="alert alert-success"><h5><i class="fa fa-home"></i> Here are your previous bookings!</h5></div>
            {% for i in mybookings %}
            <div class="card my-3 p-1">
                <div class="card-header">
                    <strong class="float-left">Order ID: {{i.order_id}}</strong>
                    <em class="float-right">Processed on: {{i.date}}</em>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-hover">
                        
                        <tr>
                            <td>
                                <img src="/media/{{i.property_ids.property_image1}}" alt="no image" style="height: 100px;width: 140px;">
                            </td>
                            <td><h5>{{i.property_ids.property_name}}</h5></td>
                            <td><h6>&#8377; {{i.property_ids.sale_price}}</h6></td>
                            <td><a href="{% url 'single_property' %}?pid={{i.property_ids.id}}" class="btn btn-success"><i class="fa fa-eye"></i>View</a></td>
                        </tr>
                        
                    </table>
                </div>
                <div class="card-footer">
                    <table class="table">
                        <tr>
                            <th>INVOICE ID</th>
                            <td>{{i.invoice_id}}</td>
                            <th>STATUS</th>
                            <td>
                                {% if i.status %}
                                <button class="btn btn-info"><i class="fa fa-check"></i>Success</button>
                                {% else %}
                                <button class="btn btn-warning">X Pending</button>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger"><h5 class="text-center">You haven't booked any property yet!</h5></div>
            <em style="color: black;"><strong>Click here to book property --> </strong></em><a href="{% url 'all_properties' %}" class="btn btn-success" style="float: center;"><i class="fas fa-home"></i> Book Property</a>
            {% endif %}
            </div>
        </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}