{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="container-fluid mt-5 ">
    <div class="row">
        <div class="col-md-6 my-5 p-5 mx-auto text-center" style="box-shadow: 0px 0px 10px gray;">
            <img src="{% static 'images/success.gif' %}" height="300" width="300">
            <br>
            <h1 >Payment Successfull!!</h1>
            <div class="my-3"> 
                <a href="{% url 'all_properties' %}" class="btn btn-primary">Continue Shopping..</a>
                <a href="{% url 'dashboard'%}" class="btn btn-warning">Go to Dashboard</a>
            </div>
           
        </div>
    </div>
</div>



{% endblock %}