{% extends "base.html" %}
{% load static %} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
<link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/f7a6829b89.js" ></script>
{% block head %}
<style>
   

.single-property-element {
    margin-bottom: 60px;
    
}
.ere-heading-style2 {
    margin-bottom: 30px;
}
.ere-heading-style2 h2 {
    color:black;
    margin-bottom: 0px;
    font-weight: 600;
    line-height: 1;
    font-size: 21px;
}
.ere-heading-style2 h2::after {
    background-color: brown;
    /* background-color: rgb(251, 106, 25); */
}
.agent-info {
    margin-bottom: 15px;
} 
.agent-avatar img {
    width: 45%;
    max-width: 300px;
    height: auto;
    margin-left: 83px;
}
.agent-content .agent-heading h4 {
    font-size: 21px;
    font-weight: 600;
    padding-top: 18px;
    margin-bottom: 2px;
}
.agent-content .agent-heading a,.agent-content .agent-heading h4 {
    color: #222;
}
h4 {
    font-family: poppins;
    font-size: 16px;
    font-weight: 700;
}
.agent-content .agent-heading {
    margin-bottom: 18px;
}
.agent-content .agent-heading span {
    font-weight: 500;
    color: #8f8f8f;
}
.agent-content .agent-social {
    margin-bottom: 17px;
}
.agent-content .agent-social a {
    background: #222;
}
.agent-content .agent-social a i {
    line-height: 36px;
    color: #fff;
}
.single-property-element .agent-info i {
    width: 20px;
    display: inline-block;
}
.agent-info-contact div {
    padding-bottom: 15px;
}
.single-property-element .agent-info i {
    width: 20px;
    display: inline-block;
}
.agent-info i{
    color: brown;
}
.agent-content .agent-social a {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
a, a:focus, a:hover {
    outline: none;
    text-decoration: none;
    color: #787878;
}
.row:before {
    display: table;
    content: " ";
}
/* .row{
    margin-top:
} */
.ere-heading-style2 h2::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 4px;
    background-color: brown;
    /* background-color: rgb(251, 106, 25); */
    margin-left: 20px;
    vertical-align: middle;
    margin-top: -2px;
}
p {  color:black;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.property-location {
    position: relative;
}
.property-address,.property-location ul li {
    display: block;
}
.property-address strong,.property-location ul li strong {
    display: inline-block;
}
b, strong {
    font-weight: 700;
}
.property-location ul {
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
.list-2-col {
    column-width: auto;
    column-count: 2;
}
.property-location .open-on-google-maps {
    position: absolute;
    right: 0px;
    top: 0px;
}
.open-on-google-maps{
    /* color: rgb(251, 106, 25); */
    color:brown;
}
.property-tab .nav-tabs {
    background-color: rgb(34, 34, 34);
    border-bottom: none;
    margin: 0px;
}
.nav-tabs {
    border-bottom: 1px solid rgb(221, 221, 221);
}
.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.nav::before{
    display: table;
    content: " ";
}
.property-tab .nav-tabs li {
    margin-bottom: 0px;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
}
.property-tab .nav-tabs li.active a, .property-tab .nav-tabs li:hover a, .single-property-image-main .owl-next {
    /* background-color: rgb(251, 106, 25); */
    background-color: brown;
}

.property-tab .nav-tabs li.active a,.property-tab .nav-tabs li:hover a {
    /* background-color: rgb(251, 106, 25); */
    background-color: brown;
    color: rgb(255, 255, 255);
}

.property-tab .nav-tabs li a {
    margin-right: 0px;
    color: rgb(143, 143, 143);
    background-clip: padding-box;
    font-weight: 500;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 19px 30px;
    border-radius: 0px;
    transition: all 0.3s ease 0s;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: rgb(85, 85, 85);
    cursor: default;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent;
    border-image: initial;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px 4px 0px 0px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a, a:focus, a:hover {
    color: rgb(120, 120, 120);
    outline: none;
    text-decoration: none;
}
.nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
    clear: both;
}
.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before,  .panel-body::after, .panel-body::before, .row::after, .row::before {
    display: table;
    content: " ";
}
.visible-xs {
    display: none !important;
}

.panel-group {
    margin-bottom: 20px;
}
.property-tab .tab-content > div {
    padding-top: 30px;
}

.tab-content > .active {
    display: block;
}

.tab-content > .tab-pane {
    display: none;
}

.fade.in {
    opacity: 1;
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
ul.ere-property-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
ul.ere-property-list li:nth-child(2n+1) {
    background: rgb(248, 248, 248);
}
ul.ere-property-list li {
    padding: 8px 15px;
}
ul.ere-property-list strong {
    display: inline-block;
    width: 50%;
}
ul.ere-property-list span {
    display: inline;
    width : 50%;
}
.ere-light-gallery a.ere-view-video i {
    font-size: 55px;
}
.ere-light-gallery a.ere-view-video i, .ere-light-gallery a.zoomGallery i {
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.far {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


</style>
{% endblock %}
{% block myblock %}


<div class="container-fluid">
    <!-- <div class="row">
        

        <div class="col-md-12 " style="background: url('/static/images/background10.jpg'); height: 150px;">
            <h1 style="text-align: center; margin-top: 45px; color: white;">My Properties > Details</h1>
        </div>
    </div> -->
    {% if user.is_authenticated %}
    <form action="" method="POST" class="mx-auto"> 
        {% csrf_token %}
        <!-- <input type="hidden" value="{{i.id}}" name="pid">
        <input type="hidden" value="1" name="qty"> -->
        <a href="{% url 'process_payment' %}" type="submit" class=" mt-5 btn btn-danger">
            <i class="fas fa-shopping-cart "></i>
            Book this Property
        </a>
    </form>
    {% else %}
    <a href="{% url 'user_login' %}" type="submit" class=" mt-5 btn btn-danger " >
        <i class="fas fa-shopping-cart "></i>
       To Book this Property Login first
    </a>
    
    {% endif %}
    
    <div class="row">
        <div class="col-md-6 text-light">
            <h1 style="background:brown ;line-height: 63px;text-align: center;">Property Details</h1>
            <img src="/media/{{property.property_image}}"  class="img-fluid" style="height: 228px; width: 400px;">
            <div class="single-property-element property-description mt-5">
                <div class="ere-heading-style2">
                    <h2>Description</h2>
                    </::after>
                </div>
                <div class="ere-property-element">
                    <p>{{property.details}}</p>
                </div>
            </div>
            <div class="single-property-element property-location">
                <div class="ere-heading-style2">
                    <h2>Address</h2>
                </div>
                <div class="ere-property-element text-dark">
                    <div class="property-address"> 
                        <strong>Address:</strong> <span>1911 Sunset Blvd Los Angeles, CA 90026</span>
                    </div>
                        <ul class="list-2-col">
                            <li> <strong>Country:</strong> <span>United States</span></li>
                            <li> <strong>Province / State:</strong> <span>California</span></li>
                            <li> <strong>City / Town:</strong> <span>Los Angeles</span></li>
                            <li> <strong>Neighborhood:</strong> <span>Echo Park</span></li>
                        </ul> 
                        <a class="open-on-google-maps" target="_blank" href="https://maps.google.com/?q=1911%20Sunset%20Blvd%20Los%20Angeles,%20CA%2090026">Open on Google Maps <i class="fa fa-map-marker">
                           </::before>
                        </i></a> 
                </div>
            </div>
            <div class="single-property-element property-location">
                <div class="ere-heading-style2">
                    <h2>Overview</h2>
                </div>
                <div class="ere-property-element text-dark">
                    <table class="table mt-5 table-striped">
                        <tr>
                            <th ><strong>Property ID</strong></th><td><span>771</span></td>
                            <th ><strong>Price</strong></th><td><span>&#8377;{{property.sale_price}}</span></td>
                        </tr>
                        <tr>
                            <th><strong>Property Type</strong></th><td><span>House</span></td>
                            <th><strong>Bedrooms</strong></th><td><span>3</span></td>
                        </tr> 
                        <tr>
                            <th><strong>Bathrooms</strong></th><td><span>2</span></td>
                            <th><strong>Year Built</strong></th> <td><span>2006</span></td>
                            
                        </tr>
                        <tr>
                            <th><strong>Size</strong></th><td><span>185.5 SqFt</span></td>
                            <th><strong>Land area</strong></th><td><span>200 SqFt</span></td>
                        </tr>
                        <tr>
                            <th><strong>Garages</strong></th><td><span>1</span></td>
                            <th><strong>Garage Size</strong></th><td><span>50 SqFt</span></td>
                        </tr>
                    </table> 
                </div>
            </div>
            <div class="single-property-element property-location">
                <div class="ere-heading-style2">
                    <h2>Features</h2>
                </div>
                <div class="ere-property-element text-dark">
                    <div class="row mt-2" >
                        <div class="col-md-3 col-xs-6 col-mb-12 property-feature-wrap">
                            <a href="http://themes.g5plus.net/beyot/property-feature/air-conditioning/" class="feature-checked">
                                <i class="fas fa-check-square"></i> Air Conditioning
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-6 col-mb-12 property-feature-wrap">
                            <a href="http://themes.g5plus.net/beyot/property-feature/electric-range/" class="feature-checked">
                                <i class="fas fa-check-square"></i> Electric Range
                            </a>
                        </div>
                                <div class="col-md-3 col-xs-6 col-mb-12 property-feature-wrap">
                                    <a href="http://themes.g5plus.net/beyot/property-feature/fire-alarm/" class="feature-checked">
                                        <i class="fas fa-check-square"></i> Fire Alarm
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6 col-mb-12 property-feature-wrap">
                                    <a href="http://themes.g5plus.net/beyot/property-feature/marble-floors/" class="feature-checked">
                                        <i class="fas fa-check-square"></i> Marble Floors
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6 col-mb-12 property-feature-wrap">
                                    <a href="http://themes.g5plus.net/beyot/property-feature/microwave/" class="feature-checked">
                                        <i class="fas fa-check-square"></i> Microwave
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6 col-mb-12 property-feature-wrap">
                                    <a href="http://themes.g5plus.net/beyot/property-feature/swimming-pool/" class="feature-checked">
                                        <i class="fas fa-check-square"></i> Swimming Pool
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6 col-mb-12 property-feature-wrap">
                                    <a href="http://themes.g5plus.net/beyot/property-feature/tv-cable/" class="feature-checked">
                                        <i class="fas fa-check-square"></i> TV Cable
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6 col-mb-12 property-feature-wrap">
                                    <a href="http://themes.g5plus.net/beyot/property-feature/washer/" class="feature-checked">
                                        <i class="fas fa-check-square"></i> Washer
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6 col-mb-12 property-feature-wrap">
                                    <a href="http://themes.g5plus.net/beyot/property-feature/wifi/" class="feature-checked">
                                        <i class="fas fa-check-square"></i> WiFi
                                    </a>
                                </div>
                            </div>

                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-property-element property-location">
                        <div class="ere-heading-style2">
                            <h2>Virtual Tour</h2>
                        </div>
                        <div class="ere-property-element text-dark">
                             <iframe width="100%" height="500" src="https://my.matterport.com/show/?m=wWcGxjuUuSb&amp;utm_source=hit-content-embed" frameborder="0" allowfullscreen="" allowvr=""></iframe>
                             
                        </div>
                    </div>

                </div>
            </div>
            
            
            <!-- <table class="table mt-5">
                <tr>
                    <th >Property name</th>
                    <td>{{property.property_name}}</td>
                </tr>
                <tr>
                    <th>Property Category</th>
                    <td>{{property.property_category.cat_name}}</td>
                </tr> 
                <tr>
                    <th>Market price</th>
                    <td><del> &#8377; {{property.property_price}}</del></td>
                    
                </tr>
                <tr>
                    <th>Offered Price</th>
                    <td> &#8377; {{property.sale_price}}</td>
                </tr>
                <tr>
                    <th>Details</th>
                    <td>{{property.details}}</td>
                </tr>
                <tr>
                    
                </tr>
                
            </table> -->
            
        </div>
        <div class="col-md-6 text-light">
            <h1 style="background: brown;line-height: 63px;text-align: center;">Property Agent</h1>
            <div class="single-property-element property-contact-agent">
                <!-- <div class="ere-heading-style2">
                    <h2>Contact</h2>
                </div> -->
                <div class="ere-property-element">
                    <div class="agent-info row">
                        <div class="agent-avatar col-md-6 col-sm-12 col-xs-12"> 
                            <a > 
                                <img src="http://themes.g5plus.net/beyot/wp-content/uploads/2017/01/ayamagdy-270x340.png" onerror="this.src = 'http://themes.g5plus.net/beyot/wp-content/plugins/essential-real-estate/public/assets/images/profile-avatar.png';" alt="NO Image Available" title="{{property.seller.first_name}} {{property.seller.last_name}}"> 
                            </a>
                        </div>
                        <div class="agent-content col-md-6 col-sm-12 col-xs-12">
                            <div class="agent-heading">
                                <h4><a title="{{property.seller.first_name}} {{property.seller.last_name}}" ></a>{{property.seller.first_name}} {{property.seller.last_name}}</h4> <span>Property Agent</span>
                            </div>
                            <div class="agent-social"> 
                                <a title="Twitter" href="http://g5plus.net"> 
                                    <i class="fab fa-twitter"></i> 
                                </a> 
                                <a title="Skype" href="skype:g5plus?chat"> 
                                    <i class="fa fa-skype"></i> 
                                </a> 
                                <a title="Instagram" href="http://g5plus.net"> 
                                    <i class="fab fa-instagram"></i> 
                                </a>
                            </div>
                            <div class="agent-info-contact text-dark">
                                <div class="agent-address"> 
                                    <i class="fas fa-map-marker"></i> <span>1199 Pacific Hwy #110 San Diego</span>
                                </div>
                                <div class="agent-mobile"> 
                                    <i class="fa fa-phone"></i> <span>444 555 6667</span>
                                </div>
                                <div class="agent-email"> 
                                    <i class="fa fa-envelope"></i> <span>{{property.seller.email}}</span>
                                </div>
                                <div class="agent-website"> 
                                    <i class="fa fa-link"></i> 
                                    {{property.seller.date_joined}}
                                    
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <hr>
                    <!-- <table class="table">
                        <tr>
                            <th>Agent name</th>
                            <td>{{property.seller.first_name}} {{property.seller.last_name}}</td>
                        </tr>
                        <tr>
                            <th>Agent's ID</th>
                            <td>{{property.seller.email}}</td>
                        </tr>
                        <tr>
                            <th>Added on</th>
                            <td>{{property.seller.date_joined}}</td>
                        </tr>
                    </table> -->
                
            
            <div class="row">
                <div class="col-md-12">
                <h1 style="background: brown;line-height: 63px;text-align: center;">Category Details</h1>
                <div class="single-property-element property-contact-agent">
                    <div class="ere-property-element">
                        <div class="agent-info row">
                            <div class="agent-avatar col-md-6 col-sm-12 col-xs-12"> 
                                <a > 
                                    <img src="/media/{{property.property_category.cover_pic}}"  alt="NO Image Available"> 
                                </a>
                            </div>
                            <div class="agent-content col-md-6 col-sm-12 col-xs-12">
                                <div class="agent-heading">
                                    <h4><a title="{{property.seller.first_name}} {{property.seller.last_name}}" ></a>{{property.property_category.cat_name}}</h4> <span>{{property.property_category.cat_name}}</span>
                                </div>
                                
                                <div class="agent-info-contact text-dark">
                                    {{property.property_category.description}}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <!-- <div class="col-md-12 text-light">
                    <h1 style="background: brown;line-height: 63px;text-align: center;">Category Details</h1>
                    <table class="table">
                        <tr>
                            <th>Category name</th>
                            <td>{{property.property_category.cat_name}}</td>
                        </tr>
                        <tr>
                            <th>Category image</th>
                            <td><img src="/media/{{property.property_category.cover_pic}}" style="height: 191px; width: 90%;box-shadow: 0px 0px 5px grey;"></td>
                        </tr>
                        <tr>
                            <th>Category details</th>
                            <td>{{property.property_category.description}}</td>
                        </tr>
                       
                    </table>
                </div> -->
            </div>
            
        </div>
    </div>    
</div>
<script type="text/javascript">jQuery(document).ready(function ($) {
    
    $('#ere-features-tabs').tabCollapse();
   
});
</script>
{% endblock %}