/*menubar*/
*{
    padding: 0;
    margin: 0;
}
body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    
}
/* .bg{
     background-image: url('images/background9.jpg');
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: 40% 40%;
    overflow-x: hidden;
    margin-top: 100px;  
    padding: 0px;
    
}  */
.search-form-text {
    background: #2c2c2c;
}
.search-form {
    margin-top: -50px;
    /* z-index: 99; */
    position: relative;
}
.search-form-text .home-text {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 30px;
}
.search-form-text .search-text {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    background: #2cbdb8;
    padding: 13px 30px;
    font-weight: 500;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.imgback{
    margin-top:-28%;
}
.navbar{
    /* z-index: 1; */
    font: bold;
    height: 92px!important;
    
}

.ul li a{
    color:white!important;
    margin-top:-70%;
 
}
.form1{
    position: relative;
}
.form1 input{
    border-radius: 40px;
}
ul li a:hover{
    /* color:white!important; */
    background: black;
    border-radius: 30px;
    
}
.icon1{
    position: absolute;
    top:20%;
    right:5%!important;
}
.group{
    position: relative;
}
.icc3{
    position: absolute;
    top: 16%;
    right:4%;
    font-size: 25px;
    color: black;
}
.button1{
    border-radius: 40px;
}
.button1:hover{
    background:transparent!important;
    color: black!important;
}
/*section1*/
.img1{
    width:1772px;
    height: 650px;
}
.carousel{
    margin-top: -5%;
}
.img2{
    widows: 300px;
    height: 400px;
}
.feature:hover{
    text-decoration-line: underline;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    
}
.img2{
    height:400px;
    width:400px;
    margin-left:10px;
}
.card-title:hover{
    font-size: 30px;
}

.card-img-top:hover{
    transform: scaleY(1.4);
    transform: scaleX(1.1);

}

.about-owner{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration-line: underline;
    color: black;
    margin-top: 20px;

}

.row{
    margin-top: 60px;
}

.img5:hover{
    transform: scaleY(1.4);
    transform: scaleX(1.1);
}
.img6:hover{
    transform: scaleY(1.4);
    transform: scaleX(1.1);
}
.img7:hover{
    transform: scaleY(1.4);
    transform: scaleX(1.1);
}
.feedback:hover{
    
    text-decoration: underline;
}

.text1{
    
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    text-decoration-line: underline;
}
.land{
    height: 200px;
    width: 255px;
}

.back1{
    background-image: url('images/background9.jpg');
    background-attachment: fixed;
    background-position: fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.back2{
    background-image: url('images/homeone.jpg');
    background-attachment: fixed;
    background-position: fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.back3{
    background-image: url('images/home3.jpg');
    background-attachment: fixed;
    background-position: fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.txt1{
    background-color: white;
    width:35%;
    display: inline-block;
    margin-left: 5%;
}
.txt2{
    background-color: white;
    width:35%;
    display: inline-block;
    margin-left: 15%;
}
.img2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4%;
    margin-top: 2%;
}
.img3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 43%;
    margin-top: 2%;
}

.fed{
    font-weight: bold;
    text-decoration: underline;
    
}
.owner{
    width: 200px;
    height: 200px;
    border-radius: 60%;
    display: inline-block;
    margin-left: 43%;
    margin-top: 2%;

}
.textowner{
    border: 3px solid black;
    padding:1%;
    margin-left: 20%;
    font-size: 20px;

}
.queries{
    margin-left: 40%;
    font-style: italic;
    
}

/*footer*/
.footer {
    background: black;
}

.footer .icons ul li {
    display: inline;
}

.footer .icons i {
    float: right;
    font-size: 40px;
    margin-right: 25px;
}
.imgb{
    height:200px;
}

.lower-footer {
    text-align: center;
}

hr{
    background-color: white;
}
.imgf{
    height: 50px;
}

@media (min-width:100px) and (max-width:1300px){
   .secc h1{
    margin-top:20%!important;
   }
   .sec{
    margin-top:10%!important;
   }
}
h3{
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 80px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
p {
    color: white;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
 


